{
	default_sni {$SERVER_HOST}
	auto_https disable_redirects
}

{$SERVER_HOST}, {$SERVER_IP} {
	root * /srv/wwwroot

	handle_path /phpmyadmin/* {
		reverse_proxy host.docker.internal:8081
	}
	handle /phpmyadmin {
		redir /phpmyadmin/ permanent
	}

	# Statische Dateien direkt von Caddy ausliefern (inkl. / -> index.html)
	@static file {
		try_files {path} {path}/index.html
	}
	handle @static {
		file_server
	}

	# Alles andere (API, Swagger, SPA-Routen) ans Backend
	handle {
		reverse_proxy host.docker.internal:8080
	}

	tls internal
}

:80 {
	root * /srv/wwwroot

	handle_path /phpmyadmin/* {
		reverse_proxy host.docker.internal:8081
	}
	handle /phpmyadmin {
		redir /phpmyadmin/ permanent
	}

	@static file {
		try_files {path} {path}/index.html
	}
	handle @static {
		file_server
	}

	handle {
		reverse_proxy host.docker.internal:8080
	}
}
